{
  "app": {
    "guid": "3f38b56e-6304-448a-b378-6e46efe7edac",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.atikeyclock",
    "artifactId": "io.cronapp.apps.atikeyclock"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "M2YzOGI1NmUtNjMwNC00NDhhLWIzNzgtNmU0NmVmZTdlZGFj",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "SSO",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {
      "security.oauth2.client.clientAuthenticationScheme": "form",
      "security.oauth2.saml.storePass": "storePass",
      "cronapp.framework.mailer.scheduler.batchSize": "10",
      "security.oauth2.client.accessTokenUri": "https://auth.cronapp.io/auth/realms/Techne/protocol/openid-connect/token",
      "cronapp.framework.mailer.username": "email@gmail.com",
      "springdoc.swagger-ui.enabled": "true",
      "cronapp.framework.mailer.host": "smtp.gmail.com",
      "security.oauth2.saml.entityId": "entityId",
      "springdoc.swagger-ui.path": "/api/metadata/",
      "cronapp.framework.mailer.auth": "true",
      "security.oauth2.client.userAuthorizationUri": "https://auth.cronapp.io/auth/realms/Techne/protocol/openid-connect/auth",
      "security.oauth2.saml.privateKeyPass": "privateKeyPass",
      "security.oauth2.saml.storeFile": "storeFile",
      "security.oauth2.resource.userInfoUri": "https://auth.cronapp.io/auth/realms/Techne/protocol/openid-connect/userinfo",
      "springdoc.swagger-ui.url": "/api/metadata/configuration",
      "security.oauth2.client.logoutUri": "https://auth.cronapp.io/auth/realms/Techne/protocol/openid-connect/logout?redirect_uri\u003dhttps://www.cronapp.io",
      "security.oauth2.sso.login-path": "/login",
      "security.oauth2.client.scope": "openid profile email",
      "security.oauth2.client.clientId": "ide-develop",
      "cronapp.framework.mailer.password": "password",
      "cronapp.framework.mailer.protocol": "smtp",
      "cronapp.framework.mailer.tls": "true",
      "cronapp.framework.mailer.port": "587",
      "security.oauth2.client.clientSecret": "1fe84c71-4a2b-4915-aa4f-e29ed9d908fd",
      "springdoc.api-docs.enabled": "true",
      "cronapp.framework.mailer.scheduler.expression": "0 * * ? * *",
      "security.oauth2.saml.metadataUrl": "metadataUrl",
      "security.oauth2.saml.privateKey": "privateKey",
      "security.oauth2.resource.preferTokenInfo": "false"
    },
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.atikeyclock",
      "backend": "true",
      "theme": "Material",
      "availableSignup": "true",
      "authentication": "SSO",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "projectName": "ATI Keyclock",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "xframeOptions": "SameOrigin"
}